snippet once "Insert header guards" b
#ifndef ${1:`!p if not snip.c:
	file_id = fn.upper().replace(".", "_")
	snip.rv = file_id
	`}_${2:`!p import uuid
if not snip.c:
	hexval = str(uuid.uuid4())
	hexval = hexval.lower().replace("-", "_")
	snip.rv = hexval`}
#define $1_$2

${0:${VISUAL}}

#endif // $1_$2
endsnippet

snippet main "main function" b
int main(int argc, char **argv)
{
	${0:${VISUAL}}

	return EXIT_SUCCESS;
}
endsnippet
