snippet init "Init"
version: "3.7"
services:
	${1:SERVICE_NAME}:
		image: ${2:IMAGE}
		command: ${3:COMMAND}
		restart: ${4:always}
		ports:
			- ${5:3000:3000}
		working_dir: ${6:/app}
		volumes:
			- ${7:./:/app}
		environment:
			${8:VAR_NAME: VAR_VALUE}
endsnippet
